$primary-color: #212529;
$secondary-color: #f3f3f3;
$third-color: #f0f0f0;
$palevio-color: #d87093;
$sky-color: #88ceeb;
$error-color: #a3000e;

/* Button Colors */
$btn-info: #88ceeb;
$btn-info-hover: #d87093;

$btn-success: #72e86b;
$btn-success-hover: #24b01b;

$btn-danger: #ef2b3a;
$btn-danger-hover: #c70f1d;

/* Badge Colors */
$badge-private: #d87093;
$badge-owner: #88ceeb;
