@import '../../../styles/buttons/buttons';

.row {
  display: flex;
  flex-flow: row wrap;

  .block {
    display: flex;
    flex: 1 0 25%;
    justify-content: center;
    align-items: center;
    margin: 0.5em 1em;
    padding: 0.3em;

    .block__title {
      margin-left: 0.3em;
    }

    .room__title {
      position: relative;
    }

    .room__people {
      font-weight: bold;
      font-size: 1em;
    }
  }
}

.row__title {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.empty {
  margin: 0.5em auto;
  border: none !important;
  text-align: center;
  font-size: 1.2em !important;
  font-weight: 400 !important;
  display: block !important;

  a {
    text-decoration: none;
  }
}
